$hugeWidth: 1400px;
$largeWidth: 1024px;
$mediumWidth: 768px;
$smallWidth: 450px;


@mixin minScreen($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

@mixin maxScreen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin betweenScreen($resMin, $resMax) {
  @media screen and (min-width: $resMin) and (max-width: $resMax) {
    @content;
  }
}